<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdmap.task.mapper.ErrorRecordInfoMapper">

    <resultMap id="BaseResultMap" type="com.hdmap.task.model.entity.ErrorRecordInfo">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="checkerId" column="checker_id" jdbcType="BIGINT"/>
            <result property="producerId" column="producer_id" jdbcType="BIGINT"/>
            <result property="projectId" column="project_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="SMALLINT"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
            <result property="objectId" column="object_id" jdbcType="BIGINT"/>
            <result property="objectTable" column="object_table" jdbcType="VARCHAR"/>
            <result property="objectGeom" column="object_geom" jdbcType="OTHER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="memo" column="memo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,checker_id,
        producer_id,project_id,type,
        status,object_id,object_table,
        object_geom,description,create_time,
        update_time,create_by,update_by,
        memo
    </sql>
</mapper>
