<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdmap.task.mapper.TaskInfoMapper">

    <resultMap id="BaseResultMap" type="com.hdmap.task.model.entity.TaskInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="SMALLINT"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
            <result property="priority" column="priority" jdbcType="SMALLINT"/>
            <result property="checkerId" column="checker_id" jdbcType="BIGINT"/>
            <result property="producerId" column="producer_id" jdbcType="BIGINT"/>
            <result property="collectorId" column="collector_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="memo" column="memo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        status,priority,checker_id,
        producer_id,collector_id,create_time,
        update_time,create_by,update_by,
        memo
    </sql>

    <!-- 通过关联表查询 task_set_id -> 关联表（tasks_task_sets_rel）-> task_id -> task_info(List) -->
    <select id="selectByTaskSetId" resultType="com.hdmap.task.model.entity.TaskInfo" resultMap="BaseResultMap">
        select ti.* from task_info ti
                             left join tasks_task_sets_rel ttsr
                                       on ti.id = ttsr.task_id
        where ttsr.task_set_id = #{id}
    </select>
    <select id="selectByTaskSetIdAndCheckerId" resultType="com.hdmap.task.model.entity.TaskInfo">
        select ti.* from task_info ti
                             left join tasks_task_sets_rel ttsr
                                       on ti.id = ttsr.task_id
        where ttsr.task_set_id = #{taskSetId}
        and ti.checker_id = #{checkerId}
    </select>

    <!--  通过project_id，从task_pool_info -> task_id -> task_info(List) -> 利用taskInfo进行过滤（如果字段值存在则使用）  -> task_info(List) -->
    <select id="selectByProjectIdAndInfo" resultType="com.hdmap.task.model.entity.TaskInfo">
        select ti.* from task_info ti
                             left join task_pool_info tpi
                                       on ti.id = tpi.task_id
        where tpi.project_id = #{id}
        <if test="info.name != null">
            and ti.name like concat('%',#{info.name},'%')
        </if>
        <if test="info.type != null">
            and ti.type = #{info.type}
        </if>
        <if test="info.status != null">
            and ti.status = #{info.status}
        </if>
        <if test="info.priority != null">
            and ti.priority = #{info.priority}
        </if>
        <if test="info.checkerId != null">
            and ti.checker_id = #{info.checkerId}
        </if>
        <if test="info.producerId != null">
            and ti.producer_id = #{info.producerId}
        </if>
        <if test="info.collectorId != null">
            and ti.collector_id = #{info.collectorId}
        </if>
        <if test="info.createTime != null">
            and ti.create_time = #{info.createTime}
        </if>
        <if test="info.updateTime != null">
            and ti.update_time = #{info.updateTime}
        </if>
        <if test="info.createBy != null">
            and ti.create_by = #{info.createBy}
        </if>
        <if test="info.updateBy != null">
            and ti.update_by = #{info.updateBy}
        </if>
        <if test="info.memo != null">
            and ti.memo like concat('%',#{info.memo},'%')
        </if>
    </select>
</mapper>
