<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdmap.data.etl.mapper.DatastoreInstanceInfoMapper">

    <resultMap id="BaseResultMap" type="com.hdmap.data.etl.model.entity.DatastoreInstanceInfo">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="SMALLINT"/>
            <result property="connectionParams" column="connection_params" jdbcType="OTHER"/>
            <result property="datastoreId" column="datastore_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        connection_params,datastore_id,description
    </sql>
</mapper>
