<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdmap.data.etl.mapper.FieldsRelMapper">

    <resultMap id="BaseResultMap" type="com.hdmap.data.etl.model.entity.FieldsRel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="leftFieldId" column="left_field_id" jdbcType="BIGINT"/>
            <result property="rightFieldId" column="right_field_id" jdbcType="BIGINT"/>
            <result property="transformerInstanceId" column="transformer_instance_id" jdbcType="BIGINT"/>
            <result property="sequence" column="sequence" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,left_field_id,right_field_id,
        transformer_instance_id,"sequence"
    </sql>
</mapper>
